# MedGuard-AI Environment Configuration
# Copy this file to .env and fill in your actual values.

# HuggingFace Token (Optional: Required to bypass rate limits when download PubMedBERT)
HF_TOKEN=hf_your_token_here
KAGGLE_USERNAME=arshsrivastava010
KAGGLE_API_TOKEN=KGAT_925ddea0675bbc445bb95de75767e060